* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: ATUltraLight;
  src: url("../fonts/ATOsmose-UltraLight.woff") format("woff");
}

@font-face {
  font-family: ATLight;
  src: url("../fonts/ATOsmose-Light.woff") format("woff");
}

@font-face {
  font-family: ATRegular;
  src: url("../fonts/ATOsmose-Regular.woff") format("woff");
}

@font-face {
  font-family: ATMedium;
  src: url("../fonts/ATOsmose-Medium.woff") format("woff");
}

@font-face {
  font-family: ATBold;
  src: url("../fonts/ATOsmose-Bold.woff") format("woff");
}

.capitalize {
  text-transform: uppercase;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-family: ATRegular;
}

.main {
  height: 100vh;
}

.hidden {
  display: none;
}

.desktop {
  display: none;
}

.topbar {
  max-height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.7rem;
}

.topbar__logo img {
  width: 4.2rem;
}

.topbar__menu {
  cursor: pointer;
  z-index: 100;
  position: relative;
}

.sidemenu {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -120vw;
  height: 100vh;
  width: 70%;
  z-index: 100;
  max-width: 630px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
  -webkit-transition: right 0.4s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, right cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
  transition: right 0.4s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, right cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}

.sidemenu__header {
  background-color: #7edfd9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 125px;
  max-height: 146px;
}

.sidemenu__close-logo {
  width: 25%;
  padding-left: 1.5rem;
  margin-top: -1.2rem;
}

.sidemenu__close-logo img {
  width: 37%;
  max-width: 20px;
}

.sidemenu__logo {
  color: #000;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  margin-top: 3.2rem;
}

.sidemenu__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5fr 1fr 5fr 2fr;
      grid-template-rows: 5fr 1fr 5fr 2fr;
  height: 100%;
}

.sidemenu__body__ul {
  padding-left: 7vh;
  padding-top: 2vh;
  font-size: 1.45rem;
  text-align: right;
  width: 100%;
  padding-right: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidemenu__body__ul ul li {
  padding-top: 1.1rem;
}

.sidemenu__body__ul ul li a:hover {
  color: #7edfd9;
}

.sidemenu__body a {
  color: #000;
  text-align: right;
}

.sidemenu__body__portfolio {
  background-color: #000;
  width: 100%;
  padding: 0.6rem 12%;
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.sidemenu__body__portfolio p {
  padding-left: 7vh;
}

.sidemenu__body__social {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.sidemenu__body__social__icons {
  z-index: 30;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidemenu__body__social__icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidemenu__body__social__icons img {
  width: 2.1rem;
  margin-left: -0.18vw;
}

.sidemenu__body__social__icons img:nth-child(2) {
  width: 2.19rem;
}

.sidemenu__body__social__icons a:hover {
  opacity: 0.7;
}

.sidemenu__body__social__bg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-bottom: 0.15vw;
}

.landing {
  max-height: 88vh;
  max-width: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.landing__description {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  z-index: 2;
  padding-left: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing__description h2 {
  font-weight: 200;
}

.landing__description h2 span {
  color: #7edfd9;
  font-weight: 700;
}

.landing__scroll-down {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing__scroll-down p {
  font-size: 1.35rem;
}

.landing__scroll-down img {
  width: 3vh;
  min-width: 25px;
  max-width: 40px;
  margin-top: -1vh;
}

.landing__name {
  z-index: 30;
  display: block;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-family: "Playfair Display", serif;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: baseline;
}

.landing__name h1 {
  font-size: 8.7vh;
  font-weight: 300;
  margin-top: -8vh;
}

.landing__rectangle {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  z-index: -1;
}

.landing__small-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  z-index: 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 83%;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.landing__big-img {
  opacity: 0.68;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.landing__big-img img {
  width: 346%;
}

.landing__line {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  z-index: 2;
  width: 100%;
  padding-left: 5vw;
}

.landing__line svg {
  margin-top: 4vh;
  width: 27vw;
  height: 2px;
}

.menu__active {
  -webkit-transition: right 0.6s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, right cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  transition: right 0.6s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, right cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  right: 0;
}

@font-face {
  font-family: ATUltraLight;
  src: url("../fonts/ATOsmose-UltraLight.woff") format("woff");
}

@font-face {
  font-family: ATLight;
  src: url("../fonts/ATOsmose-Light.woff") format("woff");
}

@font-face {
  font-family: ATRegular;
  src: url("../fonts/ATOsmose-Regular.woff") format("woff");
}

@font-face {
  font-family: ATMedium;
  src: url("../fonts/ATOsmose-Medium.woff") format("woff");
}

@font-face {
  font-family: ATBold;
  src: url("../fonts/ATOsmose-Bold.woff") format("woff");
}

.capitalize {
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .sidemenu {
    display: none;
  }
  .topbar__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 45%;
    font-size: 2vw;
  }
  .topbar__links a:hover {
    color: #7edfd9;
  }
  .topbar__logo img {
    width: 8vw;
  }
  .topbar__menu {
    display: none;
  }
  .desktop {
    display: inherit;
  }
}

@font-face {
  font-family: ATUltraLight;
  src: url("../fonts/ATOsmose-UltraLight.woff") format("woff");
}

@font-face {
  font-family: ATLight;
  src: url("../fonts/ATOsmose-Light.woff") format("woff");
}

@font-face {
  font-family: ATRegular;
  src: url("../fonts/ATOsmose-Regular.woff") format("woff");
}

@font-face {
  font-family: ATMedium;
  src: url("../fonts/ATOsmose-Medium.woff") format("woff");
}

@font-face {
  font-family: ATBold;
  src: url("../fonts/ATOsmose-Bold.woff") format("woff");
}

.capitalize {
  text-transform: uppercase;
}

@media (min-width: 1250px) {
  .topbar__links {
    font-size: 22px;
  }
  .topbar__logo img {
    width: 100px;
  }
}
/*# sourceMappingURL=main.css.map */